@import url('./fonts.css');
@import url('./lib/bootstrap.min.css');

body, html {
  height: 100%;
}

body {
  background-color: white;
  font-family: Arial;
}

.container-fluid{
  max-width: 1200px;
}

.float-right{
  float: right;
}

.material-icons {
  font-size: 1.35rem;
  color: #007bff;
  vertical-align: middle;
}
.material-icon::after {
  content: "\00a0";
  display: inline-block;
  width: 24px;
}
.material-icons.inactive {
  filter: grayscale(100%) opacity(.45);
  -webkit-filter: grayscale(100%) opacity(.45);
}

.filters{
  padding: 1rem 0;
}

h3.card-header>button{
  font-size: 1.5rem;
}

.card-body{
  padding: 0.3rem 1.2rem;
}
.sessions h4{
  font-size: 1.4rem;
  padding: 0.7rem 0.5rem 0 0.5rem;
}

.sessions .card-columns {
  column-count: 1;
}
@media (min-width: 600px){
  .sessions .card-columns {
    column-count: 2;
  }
}
@media (min-width: 1000px){
  .sessions .card-columns {
    column-count: 3;
  }
}
.sessions .session.card{
  border-top-width: 7px;
}

.session h5.card-header{
  font-size: 1.3rem;
  padding: 0.2rem 0.5rem;
}
.session button{
  background: transparent;
  border: 0;
  padding: 0;
  margin-top: -0.2rem;
  margin-right: -0.2rem;
}
.session button:focus{
  outline: none;
}
.session .material-icons{
  font-size: 2.4rem;
}
.session>.card-header{
  background-color: #eee;
}
.session>.card-body{
  background-color: white;
  padding: 0.4rem;
  font-size: 1.2rem;
}
.session.planned>.card-header{
  background-color: transparent;
}
.session.bookmarked>.card-header{
  background-color: rgba(255, 255, 255, 0.5);
}
